<option value="nothing">Nothing</option>
<option value="woolrich">Woolrich (winter) jacket (img)</option>
<option value="tshirtblue">T-shirt blue (image)</option>
<option value="pinkwinterhat">Pink winter hat (3D)</option>
<option value="costumemareouomo">Pantaloncini mare uomo (img)</option>
<option value="bikinidonna">Bikini mare donna (img)</option>
<option value="infradito">Infradito (img)</option>
<option value="cuffiaPiscina">Cuffia piscina (img)</option>
<option value="footballShoes">Scarpe da calcio</option>
<option value="sock8">Sock 8</option>
<option value="sock9">Sock 9</option>
<option value="sock23">Sock 23</option>
<option value="sock24">Sock 24</option>
<option value="sock35">Sock 35</option>
<option value="blue">Blue Shirt</option>
<option value="green">Green Shirt</option>
<option value="red">Red Shirt</option>
<option value="yellow">Yellow Shirt</option>
<option value="swimsuit">Swimsuit</option>
<option value="jacket">Jacket</option>
<option value="boots">Boots</option>
